<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

    <style>form {
      margin: 20px auto;
      max-width: 200px;
      background-color: #fff;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: 127px;
      background: rgba(237, 232, 215, 0.923);
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 40px;
    color:black;
      margin-left:650px;
      height: 47px;
    }
    body{background-color:rgba(188, 173, 152, 0.466)}</style>
    
   
    <title>Seller Dashboard</title>
</head>
<body>
  <!-- <form action="/cart" method="GET">

    <td>
      <input type="submit" id="item_cart" name="Item__cart" value='viewcart'>
    </td>
  </form> -->
  

    <div class=Sdash>
        
         <h1>
            Items Available
         </h1>
         <table>
            <td><tr>
                <th>  Product ID</th>
                <th>  Seller ID</th>
                <th> Name</th>
                <th> Description</th>
                <th> Price</th>
                
            </tr></td>
            <% for(var i=0;i<items.length;i++){ %>
                <tr></tr>
                
                  <form action="/itemsdetails_cart" method="POST">
                    
                      
                    <td>
                      <input type="number" id="item_id" name="Item__id" value='<%- items[i].product_id %>' readonly>
                    </td> 

                    <td>
                        <input type="number" id="item_id" name="Item__seller_id" value='<%- items[i].seller_id %>' readonly>
                      </td> 
  


                    

                     <td>
                        <input type="text" id="item_name" name="Item__name" value='<%- items[i].product_name %>' readonly>
                      </td>

                      <td>
                        <input type="text" id="item_des" name="Item__des" value='<%- items[i].description %>' readonly>
                      </td>

                      <td>
                        <input type="number" id="item_price" name="Item__price" value='<%- items[i].price %>' readonly>
                      </td>

              
                      <td>
                        <input type="submit" id="item_btn" name="Item__btn" value='cart'>
                      </td>
                      
</form></tr><%}%>
                  </table>
         </table>
         <form action="/cart" method="GET">

          <td>
            <input type="submit" id="item_cart" name="Item__cart" value='viewcart'>
          </td>
        </form>
         <a href="/Slogin">Already a seller?</a><br>

          <a href="/Clogin">Already a Customer?</a><br>
          <a href="/customerR">New Customer</a>
          <br>
    </div>
</body>
</html>